@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";

.loginForm{
    display: flex ;
    flex-direction: column;
    gap : 40px ; 
    font-family: Poppins;
    /* min-height: 536px; */
}

.title h1{
    font-size: 57px;
    font-weight:  bold;
}

.loginForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.loginForm form div{
    display: flex;
    gap : 20px ; 
    justify-content: space-between;
    align-items: center;
}

.loginForm form div label{
    font-size: 18px;
    font-weight: bold;
}

.loginForm form div input{
    padding: 8px 50px;
    border-radius: 10px;
    border: 2px solid #bdbdbdb7; 
    font-size: 18px;
}

.loginForm form div input::placeholder{
    text-align: center;
}

.loginForm form button{
    background: #00347D;
    border: none;
    border-radius: 10px ;
    width: 120px;
    padding: 10px 0px;
    color: white;
    font-size: 18px;
}