.mainTable{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    color: black !important;
}

.mainTable .mainRow:nth-child(odd){
    background: #FFFFFF;
}

.mainTable .mainRow:nth-child(even){
    background: #568FD8;
}

.mainRow th{
    background: hsl(215, 100%, 25%) !important;
    color : white ;     
}

.mainRow th, .mainRow td {
    padding: 14px 32px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.mainRow th img{
    cursor: pointer;
    width: 16px;
    height: 16px;
}

/* ================================================= */
.head{
    width:100% ;
    display: flex;
    gap:10px ; 
    align-items: center;
}


.detailRow th{
    background: #5B626A !important;
    color : white ;     
}

.detailRow td{
    background: #B1B7BE ; 
}


.detailRow th, .detailRow td {
    padding: 14px 32px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
/* ================================================= */
.btns{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
}
/* ================================================= */
@media (max-width:1201px){
    .mainRow th, .mainRow td,
    .detailRow th, .detailRow td {
        padding: 16px 28px;
        font-size: 10px;
        text-align: center;
    }
}

@media(max-width:800px){
    .mainRow th, .mainRow td,
    .detailRow th, .detailRow td {
        padding: 6px 3px;
        font-size: 8px;
        text-align: center;
    }

    .mainRow th img{
        cursor: pointer;
        width: 8px;
        height: 8px;
    }
}
