@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";

* {
  font-family: "sans-serif", poppins;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.heading h1 {
  font-size: 44px;
}

.msg {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.msg h4{
  font-weight:initial;
}

.btns {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.msgBtn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.msg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 601px) {
  .heading {
    gap: 20px;
  }

  .heading h1  {
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .msg {
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .btn {
    background: #00347d;
    border: none;
    border-radius: 10px;
    width: 60px;
    padding: 10px 0px;
    color: white;
    font-size: 12px;
  }



}
