.signUp {
  background: #d5e9ff;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.img {
  max-width: 650px;
  max-height: 450px;
}

@media (max-width: 400px) {
  .img {
    width: 200px;
    height: 200px;
  }
}